<% if @kitten.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@kitten.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @kitten.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

 <%= form_with model: @kitten, url: kittens_path do |form| %>
 <p><%= form.label :softness %><br>
 <%= form.text_field :softness, placeholder: "On a scale of 10"%></p>

 <p><%= form.submit "Create Entry" %></p>
 <% end %>
