
<% unless @photos_list %>
<h2>Search flickr photos by id</h2>
	<%= form_with scope: :flickr_info, url: photos_index_path, method: :get do |form| %>
		<p><%= form.label :user_id, "User ID" %><br>
		<%= form.text_field :user_id %></p>

		<p><%= form.submit "Fetch Images" %></p>
	<% end %>
<% else %>
	<%= link_to "Home", photos_index_path %><br>
	<% @photos_list.each do |photo| %>
		<% photo_id = photo["id"] %>
		<% server_id = photo["server"] %>
		<% secret_id = photo["secret"] %>
		<%= image_tag("https://live.staticflickr.com/#{server_id}/#{photo_id}_#{secret_id}.jpg") %>
	<% end %>
<% end %>